<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
    <title>{{ title }}</title>
</head>
<body>
<div class="order-header">
    <div class="btn">
        <a href="{{ path('order_bought') }}" class="first">买买买</a>
        <a href="{{ path('order_sold') }}" class="second active" >卖卖卖</a>
    </div>
    <div class="menu">
        <ul>
            <li {% if type == 'all' %}class="active"{% endif %}><a href="{{ path('order_sold') }}">全部</a></li>
            <li {% if type == 'paying' %}class="active"{% endif %}><a href="{{ path('order_sold', {'type': 'paying'}) }}" >未付款</a></li>
            <li {% if type == 'delivering' %}class="active"{% endif %}><a href="{{ path('order_sold', {'type': 'delivering'}) }}">待发货</a></li>
            <li {% if type == 'receiving' %}class="active"{% endif %}><a href="{{ path('order_sold', {'type': 'receiving'}) }}">未收货</a></li>
            <li {% if type == 'finish' %}class="active"{% endif %}><a href="{{ path('order_sold', {'type': 'finish'}) }}">已完成</a></li>
        </ul>
    </div>
</div>
<div class="order-list">
    <ul>
        {% for o in orders %}
        {% if o.status == 0 %} {% set statusStr = '交易成功' %}
        {% elseif o.status == 1 %} {% set statusStr = '未付款' %}
        {% elseif o.status == 2 %} {% set statusStr = '待发货' %}
        {% elseif o.status == 3 %} {% set statusStr = '未收货' %}
        {% elseif o.status == 4 %} {% set statusStr = '流拍' %}
        {% elseif o.status == -1 %} {% set statusStr = '交易失败' %}
        {% endif %}
            <li>
                <a href="{{ path('order_details', {'order_id': o.id}) }}">
                    {% set imgSrc = '/attachments/wechat_img/' ~ p.imgCover.id %}
                    <img src="{{ imgSrc | imagine_filter('thumb120') }}" />
                    <div class="text">
                        <label>{{ o.product.name }}</label>
                        <p>
                            交易状态：<span id="order-status-str">{{ statusStr }} {% if o.status == -1 %}（{{ o.failDescription }}）{% endif %}</span><br />
                            创建时间：{{ o.createTime|date('m月d日 H:i') }}
                        </p>
                        <div class="order-close">
                            <a href="javascript:void(0);" onclick="close_order({{ o.id }})">关闭交易</a>
                        </div>
                        <div class="order-finish">
                            <a href="javascript:void(0);" onclick="finish_order({{ o.id }})">完成交易</a>
                        </div>
                    </div>
                    <div class="tips">
                        {{ stateStr }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <script>
        var close_order = function(oid) {
            if ( confirm('交易关闭不可恢復,你是否确认关闭交易?') ) {
                $.ajax({
                    type: 'post',
                    data: {'id' : oid},
                    url: '{{ path('close_order_by_seller') }}',
                    success: function(response) {
                        if (response.state == 'success') {
                            alert('关闭交易成功!');
                            $('.order-close').hide();
                            $('#order-status-str'+oid).html(response.status_str);
                        } else {
                            alert(response.message);
                        }
                    }
                });
            }
        }
        var finish_order = function(oid) {
            if ( confirm('完成交易不可恢復,你是否确认标记交易完成?') ) {
                $.ajax({
                    type: 'post',
                    data: {'id' : oid},
                    url: '{{ path('finish_order_by_seller') }}',
                    success: function(response) {
                        if (response.state == 'success') {
                            alert(response.message);
                            $('.order-close').hide();
                            $('#order-status-str'+oid).html(response.status_str);
                        } else {
                            alert(response.message);
                        }
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>
