<style>
    #soulnavbar {
        background-color:#9d9fa2;
        color:white;
        font-size:24px;
        padding:5px;
        text-align:center;
        width:100%;
        transition: top .5s;
        position:fixed;
        height: 50px;
        bottom: 0px;
    }
    .upload-info{
        display:none;
        height: 80px;
        width: 200px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #000;
        color: #fff;
        line-height: 80px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        position: fixed;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: -40px;
        z-index: 999;
    }
</style>
<!-- /Menu-->
<div id="soulnavbar">
    <a href="{{ path('homepage') }}" id="bar-home"><img src="{{ asset('bundles/app/images/house.png') }}" /></a>
    <a href="javascript:void(0);" id="bar-publish" onclick="chooseImage()"><img src="{{ asset('bundles/app/images/camera.png') }}" /></a>
    <a href="{{ path('profile') }}" id="bar-profile"><img src="{{ asset('bundles/app/images/profile.png') }}" /></a>
</div>
<!-- /Menu -->
<script>
    var lastScrollTop = 0, delta = 5;
    $(window).scroll(function(event){
        var st = $(this).scrollTop();

        if(Math.abs(lastScrollTop - st) <= delta)
            return;

        if (st > lastScrollTop){
            // downscroll code
            $("#soulnavbar").slideUp("fast")
        } else {
            // upscroll code
            $("#soulnavbar").slideDown("fast");

        }
        lastScrollTop = st;
    });
</script>
<script>
    var chooseImage = function () {
        wx.chooseImage({
            count: 9, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                //for (var i = 0; i < localIds.length; i++) {
                    uploadImage(localIds, 1);
                //}
            }
        });
    }

    var uploadImage = function (localIds, n) {
        var count = localIds.length;
        for (var i = n; i <= 9; i++) {
            delCookie('current-upload-img' + i);
            delCookie('server-img' + i);
        }
        $('.upload-info').html('正在上传...'+n+'/'+count);
        $('.upload-info').show();
        wx.uploadImage({
            localId: localIds[n - 1], // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                addcookie('current-upload-img'+n, localIds[n - 1]);
                addcookie('server-img'+n, res.serverId);
                if (n < count)
                    uploadImage(localIds, n+1);
                else {
                    $('.upload-info').hide();
                    window.location.href = '{{ path('publish_step1') }}';
                }
                var serverId = res.serverId; // 返回图片的服务器端ID
            }
        });
    }
</script>
<div class="upload-info"></div>
