{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-header">
        <div class="home-header-bg">
            <div class="username">{{ nickname }}</div>
        </div>
        <div class="tips-block">
            <div class="tips">XXX，展示已订阅的卖家拍品</div>
        </div>
        <div class="avatar">
            <img src="{{ avatar }}" />
        </div>
    </div>
    <div class="goods-list">
        {% for p in products %}
        <div class="goods-item">
            <div class="avatar">
                <img src="{{ p.user.avatar }}" />
            </div>
            <div class="goods-details" style="">
                <div class="title"><i class="level"></i><a href="javascript:void(0);">{{ p.user.nickname }}</a></div>
                <div class="details">
                    {{ p.intro }}
                </div>
                <div class="img-list">
                    <div class="my-gallery" itemscope itemtype="">
                        {% for img in p.images %}
                            <figure itemprop="associatedMedia" itemscope itemtype="">
                                <a href="#" itemprop="contentUrl" data-size="600x400" onclick="return photoswipe_action{{ p.id }}(0)">
                                    <img src="/attachments/wechat_img/{{ img.id }}" itemprop="thumbnail" alt="" />
                                </a>
                                <!--<figcaption itemprop="caption description">Image caption</figcaption>-->
                            </figure>
                        {% endfor %}

                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="attr">
                    <div class="attr_left">
                        {% if p.isReturnable == true %}<i class="icon-text blue">包退</i>{% endif %}
                        {% if p.isFreePostage == true %}<i class="icon-text orange">包邮</i>{% endif %}
                        <i class="icon ensure"></i>
                        <label class="date">{{ p.createTime|date('m月d日') }}</label>
                    </div>
                    <div class="attr_right">
                        <span>15</span><i class="icon like"></i>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="likes">
                    <div class="title">TA们收藏了此拍品:</div>
                    <img src="http://wx.qlogo.cn/mmopen/XJk3SpwHpDJDqrLXUCZpmFvcMCpOt8JzopzicLMIGslEJoswiaWSCHtPiaUxca5ibSG7kQwxNvcvbI90Rbria9arKl0AYJjevq83U/0" />
                    <img src="http://wx.qlogo.cn/mmopen/XJk3SpwHpDKzmnY9MAQom4QiahpkKs3W4fFVrfx8ExfN0twcUUVPtI1stOvB8RmHibLgTujO2BclJQBPXZuLlJWZGMJusFeRIn/0" />
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both; height:10px;"></div>
                <div class="countdown-block">
                    <div class="running-tip">距离结束:</div>
                    <div class="countdown-tip"><label class="countdown" id="countdown{{ p.id }}"></label></div>
                </div>
                <div class="action-block">
                    <a class="update" href="javascript:void(0);">更新</a>
                    <a class="bid-btn" onclick="">出价</a>
                    <div class="action-info">
                        <div class="start-price"><span>起</span><label>￥{{ p.startPrice }}元</label></div>
                        <span class="splitter">|</span>
                        <div class="step-price"><span>加</span><label>￥{{ p.stepPrice }}元</label></div>
                    </div>
                </div>
                <div class="bid-list">
                    <ul>
                        {% for payment in p.payments %}
                        <li>
                            <img class="avatar" src="{{ payment.payUser.avatar }}" />
                            <div class="bid-info">
                                <a href="javascript:void(0);">{{ payment.payUser.nickname }}</a>
                                <label>￥{{ payment.volume }}元</label>
                            </div>
                            <div class="bid-order-info">
                                {%  if loop.index == 0 %}
                                    <div class="order-info leading">领先</div>
                                {% else %}
                                    <div class="order-info dumped-out">出局</div>
                                {% endif %}
                                <div style="clear:both;"></div>
                                <div class="datetime">{{ payment.payTime|date('m-d H:i') }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if products|length == 0 %}
            <a href="{{ path('product_random') }}">搜索拍品</a>
        {% endif %}
    </div>
{% endblock %}
{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/home/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/CountDown/countdown.js') }}"></script>
    <script>
        {% for p in products %}
        var photoswipe_action{{ p.id }} = function (i) {
            var images{{ p.id }} = [{% for img in p.images %}
                'attachments/wechat_img/{{ img.id }}',
                {% endfor %}];
            wx.previewImage({
                current: images{{ p.id }}[i], // 当前显示图片的http链接
                urls: images{{ p.id }} // 需要预览的图片http链接列表
            });
        }
        var clock{{ p.id }} = document.getElementById('countdown{{ p.id }}')
                , targetDate{{ p.id }} = {{ p.expireTime|date('U') }}*1000;

        clock{{ p.id }}.innerHTML = countdown(targetDate{{ p.id }}).toString();
        setInterval(function(){
            clock{{ p.id }}.innerHTML = countdown{{ p.id }}(targetDate{{ p.id }}).toString();
        }, 1000);
        {% endfor %}
    </script>
    {% include 'menu.html.twig' %}
{% endblock %}
